<head>
<META http-equiv="content-type" content="text/html;charset=utf-8">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="https://lite.qwant.com/?l=en">Qwant</a>
<LI><a href="https://www.datamentor.io/feed/">S3 Class</a>
<LI><a href="https://www.datamentor.io/feed/">S4 classes</a>
<LI><a href="https://www.lemonde.fr/">Le Monde</a>
<LI><a href="https://www.20minutes.fr/">20minutes</a>
<LI><a href="https://en.wikipedia.org/">Wikipedia</a>
<LI><a href="https://learnvimscriptthehardway.stevelosh.com/">Learn Vimscript the Hard Way</a>
<LI><a href="https://www.wiktionary.org/">Wiktionary</a>
<LI><a href="http://www.google.com/">Google</a>
